header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: $clr1-a;

    h2 {
        width: 100%;
        text-align: center;
        font-family: 'Lovers Quarrel', cursive;
        //font-family: 'Festive', cursive;
        font-size: 6em;
        font-weight: 400;
        color: $clr2-a;

        margin-top: 70px;
        margin-bottom: 0;

        animation: titre 1.3s both;
    }

    .sous-titre {
        width: 100%;
        text-align: center;
        position: relative;
        top: -30px;

        opacity: 0;
        animation: sousTitre 2s 0.7s both;

        p {
            margin-top: 0;
            margin-bottom: 70px;
            font-size: 1.2em;
            color: $clr3-c;
        }
    }

    nav {
        display: flex;

        .under {
            width: 100%;
            height: 3px;
            background-color: $clr3-c;

            position: relative;
            top: 12px;
            transform: scaleX(0);
            transition: all 0.7s;
        }

    }
    a {
        font-size: 1.2em;
        padding: 30px;
        padding-bottom: 10px;
        color: $clr3-a;
    }

    .nav_menu:hover {
        a {
            color: $clr3-c;
        }

        .under {
            transform: scaleX(1);
        } 
    }

    .active {
        a {
            color: $clr3-c;
        }

        .under {
            transform: scaleX(1);
        } 
    }

    .border {
        width: 100%;
        background: rgba(59, 49, 39, 0.164);
        height: 1px;
        margin-top : 12px;
    }

    #iconeTel {
        display: none;
    }
}

@keyframes titre {
    from {
        opacity: 0;
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes sousTitre {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media screen and (max-device-width: 720px) {

    header {

        position: relative;    
        a {
            padding: 10px;
        }

        h2 {
            font-size: 3.6em;
            margin-top: 10px;
            
        }

        .sous-titre {
            p {
                font-size: 1em;
                margin-bottom: 30px;
            }
        }

        nav {
            display: none;
            position: absolute;

            .under {
                display: none;
            }
        }

        #iconeTel {
            display: inline;
            
        }

        .rotate {
            transform: rotate(0.25turn)
        }

        .border {
            display: none;
        }

        i {
            font-size: 1.7em;
            color: $clr3-a;

            position: absolute;
            left: 25px;
            bottom: 0;
        }

    }

    .nav_tel {
        z-index: 2;
        position: absolute;
        bottom: -300px;
        left: 10px;

        transform-origin: top;
        animation: menuTel 1s both;

        a {
            color: white;
            font-size: 2em;
            border-left: white 7px solid;
        }

        .active2 {
            a {
                border-color: $clr3-e;
                color: $clr3-e;
            }
        }
    }

    @keyframes menuTel {
        from {
            transform: scaleY(0) translateY(-300px);
            opacity: 0;

        }

        to {
            transform: scaleY(1) translateY(0px);
            opacity: 1;
        }
    }

    .h1Del {
        h1 {
            display: none;
        }
    }
}